// app global css in SCSS form
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  left: 0;
}

.card {
  flex: 0 0 calc(25% - 14px);
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff0ff;
  transition: transform 0.3s;
}
.card-content {
  height: 100%;
}
.card:hover {
  transform: scale(1.05);
}
.dollar-card {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f1d7ff;
}

.custom-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.informacion-card {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffdfff;
  border: 1px solid black;
}
.boton-cerrar {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 2px;
  height: 2px;
}
