// app global css in SCSS form
.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: 5px;
  width: 100%;
}

.card {
  background-color: #fff0ff;
  transition: transform 0.3s;
  max-width: 300px; /* Tamaño máximo deseado */
}
.contenedor-chi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 10px; /* Espacio entre las tarjetas */
}

.card-chi {
  background-color: #fff0ff;
  transition: transform 0.3s;
  flex: 0 0 calc(50% - 10px); /* 2 tarjetas por fila inicialmente */
  max-width: calc(50% - 10px); /* Tamaño máximo de cada tarjeta */
  margin-bottom: 10px;
}
@media (max-width: 750px) {
  .card-chi {
    flex: 0 0 calc(100% - 10px); /* 1 tarjeta por fila en pantallas más pequeñas */
    max-width: calc(
      100% - 15px
    ); /* Tamaño máximo de cada tarjeta en pantallas más pequeñas */
  }
}
/*.card:hover {
  transform: scale(1.05);
}*/
