// app global css in SCSS form
.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin-top: 100px;
}

.card {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 20px;
  width: 100%;
  background-color: #e7f0f2;
  transition: transform 0.3s;
  flex-shrink: 0;
}
.card-content {
  height: 100%;
}
.card:hover {
  transform: scale(1.05);
}
.dollar-card {
  position: absolute;
  top: 0;
  left: 0;
}
